.container .container-box {
  align-items: center;
}

.container .container-box form {
  font-family: "Noto Sans Mono";
  font-size: 20px;
  color: white;
  width: 600px;
}

.container .container-box form div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.container-box form div input {
  width: 70%;
  height: 34px;
  border: none;
  border-radius: 5px;
  background: #ffffff94;
  color: white;
  padding: 10px;
}
.container-box form div input:focus-visible {
  border: none;
  outline: none;
}

.container-box form button {
  padding: 8px 20px;
  font-size: 20px;
  border: none;
  color: white;
  background: #d1412e;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

