@font-face {
  font-family: "Arabic_1";
  src: url("../fonts/NotoSansArabic-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Mono";
  src: url("../fonts/NotoSansMono-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container .progress-bar {
  width: 65%;
  position: absolute;
  background: #ffffff4a;
  height: 30px;
  top: 10px;
  border-radius: 15px;
  font-family: "Noto Sans Mono";
  overflow: hidden;
  height: 30px;
}
.container .progress-bar .progress-bar-fill {
  width: 0;
  background-color: #ffe12b;
  height: 30px;
}
.container .progress-bar .progress-bar-fill .progress-value {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.container .container-box {
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  background: #ffffff4a;
  border-radius: 5px;
}
.big-box {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  overflow-y: hidden;
  transition: all 0.5s;
}

.word-box {
  min-width: 200px;
  padding: 15px;
  text-align: center;
  background: #f9f2b4c4;
  margin: 10px;
  border-radius: 5px;
}

.word-box .arabic-title {
  font-family: "Arabic_1";
  border-left: 3px solid #28a745;
  background: #28a74547;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 17px;
}

.word-box .english-title {
  padding: 5px;
  margin: 5px 2.5px 2.5px 2.5px;
  border-top: 2px solid transparent;
  border-radius: 5px;
  display: flex;
}

.word-box .english-title span.letter {
  font-family: "Noto Sans Mono";
  background: #ffffff4a;
  font-size: 35px;
  color: #757575;
  border-radius: 4px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  margin: 2px;
  min-width: 25px;
}

.word-box .english-title span.letter.selected::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 3px;
  background: #0a6bf9;
  bottom: -3px;
  left: 0;
  right: 0;
}

/* .word-box.selected .arabic-title {
  border-left: 3px solid #0a6bf5;
  background: #0a6bf947;
} */

.word-box.selected .english-title {
  border-top: 2px solid #0a6bf9;
}

.word-box .english-title span.letter.done {
  background: #fff;
}

.word-box.selected .english-title span.letter.wrong {
  background: #ff90a3;
}
