<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="page_id" content="<%= page_id%>">
    <meta name="token" content="<%= token %>">

    <title>Document</title>
    <link rel="stylesheet" href="assets/style/main.css" />
    <link rel="shortcut icon" href="assets/images/keyboard.png" type="image/x-icon">

  </head>

  <body>
    <div class="container">
      <div class="container-box">
        <div class="big-box" id="big-box-container">
          <div class="loader"></div>

        </div>
      </div>
      <div class="progress-bar">
        <div class="progress-bar-fill">
          <div class="progress-value">0%</div>
        </div>
      </div>
    </div>
    <script src="assets/js/main.js"></script>
    
  </body>
</html>
